#top-col{
  float: left;
  padding-left: 2.5%;
  width: 100%;
  text-align: left;
  border-bottom:2px solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}      
#left-col{
  float: left;
  width: 31.0%;
  text-align: left;
  padding-left: 2.5%;
}
#right-col{
  float: right;
  width: 64.0%;
  text-align: left;
  padding-left: 2.5%;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}

#vehicles th {
  background-color: #4CAF50;
}

#vehicledata th {
  background-color: #e3a600;
}

.selected {
  font-weight: bold;
}


.ui-datepicker-trigger {
   height: 20px;
   width: auto;
   margin-bottom: -5px;
   margin-left: 4px;
}


input[type=submit] {
    margin-left: 10px;
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}


#map {
  height: 700px;
}